html,
body {
  height: 100%;
  font-family: cursive, sans-serif;
  font-size: 18px;
  background-color: dimgray;
}

#content-area {
  background-color: lightslategray;
  height: 66%;
  border: 2px solid slategray;
  box-shadow: 10px 10px 5px darkgray;
  position: relative;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.click-me {
    font-size: 18px;
}
.click-me:hover {
    background-color: ghostwhite;
}